<h1>TweetSaver</h1>

<button id="load_tweets">Display tweet stash</button>
<button id="get_new_tweet">Get a new tweet</button>

<div id='loading'>
</div>
<div id='results'>
  <table id='tweets'>
    <thead>
      <tr>
        <th>user</th>
        <th>tweet</th>
        <th>link</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
